@model StellerPortfolio.Models.TblSkill
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Yeni Yetenek Ekleme Sayfası</h3>

<form method="post">
    <label>Yetenek Adı</label>
    @Html.TextBoxFor(x => x.SkillName, new { @class = "form-control" })
    <br />
    <label>Yüzdelik Değer</label>
    @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>

</form>