@model StellerPortfolio.Models.TblMessage
@{
    ViewBag.Title = "MessageDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Mesaj Detayları</h3>

<table class="table table-striped">
    <tr>
        <th>Gönderen Ad Soyad:</th>
        <td>@Model.NameSurname</td>
    </tr>

    <tr>
        <th>Gönderen Email:</th>
        <td>@Model.Email</td>
    </tr>

    <tr>
        <th>Mesaj içeriği:</th>
        <td>@Model.MessageContent</td>
    </tr>



</table>