@model StellerPortfolio.Models.TblService
@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Hizmet Güncelleme Sayfası</h3>

<form method="post">
    @Html.HiddenFor(x=>x.ServiceId)
    <label>Hizmet Adı</label>
    @Html.TextBoxFor(x => x.ServiceName, new { @class = "form-control" })
    <br />
    <label>Hizmet İkonu</label>
    @Html.TextBoxFor(x => x.ServiceIconUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>